.fieldWithErrors {
  padding: 1px;
  background-color: #ff5d39;
  display: table;
}

#errorExplanation {
  border: 1px solid #ff5d39;
  padding: 7px;
  padding-bottom: 12px;
  margin: 10px 10px 0px 10px;
  background-color: #f9f9f9;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 11px;
  margin: -7px;
  background-color: #ff5d39;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul {
  font-size: 11px;
  list-style: square;
  padding-left: 17px;
}
